<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!--cdn vue-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.min.js"></script>

    <title>Document</title>

    <style>
    .box{
    padding: 100px 0;
    width: 400px;
    text-align: center;
    background: #ddd;
    margin: 20px;
    display: inline-block;
}
    </style>
</head>
<body>
    <h1>hello, this is build in vue </h1>

    <div id="hej">
    <div v-if="showBooks">
        <p>
            {{title}} - {{author}} - {{age}}
        </p>
        <button v-on:click="age++" > Increase age</button> 
        <button v-on:click="age--" > Increase age</button> 
        <div @click="changeTitle">Change Book title</div>
      
    </div>
    <button @click="toggleShowBooks">

        <!-- takes stuff completely out of the DOM-->
        <span v-if="showBooks">Hide books</span>
        <span v-else>Show books</span>
    </button>
    <!--display block less time consumening-->
    <div v-show="showBooks"> Currentlig showing books </div>
    
    <br>

    <!--Mouse events first one lets us pass our own arguments in as weel, but then we have to remember $event-->
    <div class="box" @mouseover="handleEvent($event, 5)">mouse over</div>
    <div class="box"@mouseleave="handleEvent"> mouse leave</div>
    <div class="box" @dblclick="handleEvent"> double click</div>
    <div class="box" @mousemove="handleMousemove">position - {{ x }} {{ y }}</div>
   
    </div>
    <script  src="app.js" ></script>
</body>
</html>